#!/usr/bin/env bash

# Usage: ta <name-pattern>
# Match existing tmux session names with name-pattern:
# 1. If there is one match, attach to it.
# 2. If there is more than one match, print session names.
# 3. Create new session if no match.
function ta() {
    if [ -z "$1" ]; then
        echo "Usage: ta <name-pattern>"
        return 1
    fi

    local match=0
    local pattern=$1
    local matched_name=""

    # Using here-string to prevent subshell so match/matched_name updates are visible.
    while read line; do
        name=$(echo "$line" | sed -e 's/:.*$//')
        if echo "$name" | grep -q -i "$pattern"; then
            echo "$name"
            matched_name=$name
            ((match++))
        fi
    done <<< "$(tmux ls 2>/dev/null)"

    if [ $match -gt 1 ]; then
        return
    fi

    if [ $match -eq 1 ]; then
        tmux attach -d -t "$matched_name"
    else
        tmux new -s "$pattern"
    fi
}

# Use Git's colored diff when available
hash git &>/dev/null;
if [ $? -eq 0 ]; then
    function diff() {
        git diff --no-index --color-words "$@";
    }
fi;

# Start an HTTP server from a directory, optionally specifying the port
# Usage: httpserver [port]
function httpserver() {
    local port="${1:-8000}";
    # Auto-open browser on macOS only
    if [ "$(uname)" = "Darwin" ]; then
        sleep 1 && open "http://localhost:${port}/" &
    fi
    python3 -m http.server "$port";
}

# `tre` is a shorthand for `tree` with hidden files and color enabled, ignoring
# the `.git` directory, listing directories first. The output gets piped into
# `less` with options to preserve color and line numbers, unless the output is
# small enough for one screen.
function tre() {
    tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}
